<div class="container">
  <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">Web Messages</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills navbar-nav navbar-right">
            <li class="active">
              <a>Messages
                <span class="badge"><%= current_user.unread_messages.size %></span>
              </a>
            </li>
            <li><%= link_to "Sign_Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="row ">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Messages with @<%= @target_user.username %>[<%= @target_user.email %>]</h3>
        </div>
        <div class="panel-body">
          <% @all_messages.each do |message| %>
          <% next if message.withdraw? %>
          <div class="row">
            <% if message.sender_id == @target_user.id %>
            <div class="alert alert-success col-md-7"><%= message.content %></div>
            <% else %>
            <div class="alert alert-info col-md-7 col-md-offset-5">
              <%= message.content %>
              <%= link_to message_hide_path(@target_user, message), class: 'close', method: :delete do %><i class="fa fa-close"></i><% end %>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="panel-footer text-right">
          <%= form_for(:msg, url: message_talk_path(@target_user), html: { class: 'form-inline' }) do |f| %>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">@<%= @target_user.username %></div>
              <%= f.text_field :content, placeholder: 'Hi', class: 'form-control' %>
            </div>
            <%= f.submit "Send", class: 'btn btn-info' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
