<%= form_for(resource, url: session_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div class="form-group">
  <%= f.label :email, class: 'control-label' %>
  <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'Email' %>
</div>
<div class="form-group">
  <%= f.label :password, class: 'control-label' %>
  <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: 'Password' %>
</div>
<div class="form-group">
  <%= f.submit "Sign in", class: 'btn btn-primary pull-right' %>
</div>
<% end %>
